<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet_p1</display-name>



	<servlet>
		<servlet-name>servlet_hello</servlet-name>
		<servlet-class>servlets.HelloServlet</servlet-class>
	</servlet>
	
	
	
	<servlet>
		<servlet-name>user_servlet</servlet-name>
		<servlet-class>servlets.UserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>servlet_operation</servlet-name>
		<servlet-class>servlets.HelloOperation</servlet-class>


		<init-param>
			<param-name>operator</param-name>
			<param-value>plus</param-value>

		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>servlet_hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet_operation</servlet-name>
		<url-pattern>/operation</url-pattern>
	</servlet-mapping>

<servlet-mapping>
		<servlet-name>user_servlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>servlets.MyServletContextListener</listener-class>
	</listener>
	
	<session-config>
	<session-timeout>5</session-timeout>
	</session-config>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>

		<welcome-file>index_1.html</welcome-file>
	</welcome-file-list>

</web-app>